set_io ax gfpga_pad_io_soc_in[48]
set_io ay gfpga_pad_io_soc_in[49]
set_io bx gfpga_pad_io_soc_in[50]
set_io by gfpga_pad_io_soc_in[51]
set_io z0 gfpga_pad_io_soc_in[54]
set_io aq gfpga_pad_io_soc_out[57]
set_io bq gfpga_pad_io_soc_out[58]
set_io reset gfpga_pad_io_soc_in[60]
set_io clock gfpga_pad_io_soc_in[61]